class @org.thingpedia.builtin.test.test_database {
  import loader from @org.thingpedia.builtin();
  import config from @org.thingpedia.config.none();

  list query q1(out foo: String)
  #_[canonical="q1"]
  #[handle_thingtalk=true];

  list query q2(out bar: String)
  #_[canonical="q2"]
  #[handle_thingtalk=true];
}
