<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.thingengine.engine" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar" >
        <service
            android:name=".EngineService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name=".AutoStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WebUIActivity"
            android:label="@string/title_activity_web_ui" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thingengine.stanford.edu"
                    android:pathPrefix="/qrcode/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thingengine.stanford.edu"
                    android:pathPrefix="/qrcode-cloud/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="edu.stanford.thingengine.engine.ADD_ONLINE_ACCOUNT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".WebUIActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.stanford.thingengine.engine.WebUIActivity" />
        </activity>
    </application>

</manifest>
