dataset @com.twitter language "en" {
    stream := monitor (@com.twitter.home_timeline())
    #_[utterances=["when someone i follow tweets",
                   "when i receive a tweet",
                   "when there is a new tweet in my timeline",
                   "when somebody i follow on twitter posts",
                   "when there is a new post on my twitter timeline"]]
    #[id=28017000]
    #[name=""];

    stream (p_author :Entity(tt:username)) := monitor ((@com.twitter.home_timeline()), author == p_author)
    #_[utterances=["when user ${p_author:no-undefined} tweets",
                   "when i receive a tweet from ${p_author:no-undefined}"]]
    #[id=28017005]
    #[name=""];

    stream (p_in_reply_to :Entity(tt:username)) := monitor ((@com.twitter.home_timeline()), in_reply_to == p_in_reply_to)
    #_[utterances=["when someone i follow replies to user ${p_in_reply_to} on twitter"]]
    #[id=28017007]
    #[name=""];

    stream := monitor (@com.twitter.direct_messages())
    #_[utterances=["when i receive a direct message on twitter",
                   "when somebody dms me",
                   "when somebody sends me a direct message",
                   "when somebody sends me a message on twitter",
                   "when somebody messages me on twitter",
                   "when i get a message on twitter"]]
    #[id=28017008]
    #[name=""];

    stream (p_sender :Entity(tt:username)) := monitor ((@com.twitter.direct_messages()), sender == p_sender)
    #_[utterances=["when i receive a direct message from ${p_sender:no-undefined} on twitter",
                   "if i receive a dm on twitter from ${p_sender:no-undefined}",
                   "when ${p_sender:no-undefined} dms me",
                   "when ${p_sender:no-undefined} sends me a direct message on twitter"]]
    #[id=28017014]
    #[name=""];

    stream := monitor (@com.twitter.tweet(), from_self == true)
    #_[utterances=["when i tweet",
                   "when i post something to twitter",
                   "when i make a new tweet",
                   "when i make a new twitter post"]]
    #[id=28017018]
    #[name=""];

    stream (p_in_reply_to :Entity(tt:username)) := monitor ((@com.twitter.tweet(), from_self == true), in_reply_to == p_in_reply_to)
    #_[utterances=["when i reply to ${p_in_reply_to} on twitter",
                   "when i make a new tweet in reply to ${p_in_reply_to} on twitter",
                   "when i mention $p_in_reply_to on twitter"]]
    #[id=28017022]
    #[name=""];

    action (p_status :String) := @com.twitter.post(status=p_status)
    #_[utterances=["tweet ${p_status}",
                   "post on twitter saying ${p_status}",
                   "post ${p_status} on twitter",
                   "tweet that ${p_status:const}",
                   "make a post on twitter that says $p_status",
                   "make a tweet on twitter that says $p_status"]]
    #[id=28017044]
    #[name=""];

    action (p_to :Entity(tt:username), p_message :String) := @com.twitter.send_direct_message(to=p_to, message=p_message)
    #_[utterances=["send a dm on twitter to ${p_to} saying ${p_message}",
                   "send a direct message on twitter to ${p_to} saying ${p_message}",
                   "dm ${p_to} on twitter saying ${p_message}",
                   "send a message on twitter to ${p_to} saying ${p_message}"]]
    #[id=28017050]
    #[name=""];

    action (p_caption :String) := @com.twitter.post_picture(caption=p_caption, picture_url=$?)
    #_[utterances=["tweet a picture with caption ${p_caption}",
                   "post a picture on twitter saying ${p_caption}"]]
    #[id=28017054]
    #[name=""];

    action := @com.twitter.post_picture(caption=$?, picture_url=$?)
    #_[utterances=["tweet a picture",
                   "post a picture on twitter"]]
    #[id=28017056]
    #[name=""];

    action (p_user_name :Entity(tt:username)) := @com.twitter.follow(user_name=p_user_name)
    #_[utterances=["follow ${p_user_name} on twitter",
                   "become a follower of ${p_user_name} on twitter",
                   "be a twitter follower of ${p_user_name}",
                   "become a twitter follower of ${p_user_name}"]]
    #[id=28017058]
    #[name=""];

    action (p_user_name :Entity(tt:username)) := @com.twitter.unfollow(user_name=p_user_name)
    #_[utterances=["unfollow ${p_user_name} on twitter",
                   "stop following ${p_user_name} on twitter"]]
    #[id=28017062]
    #[name=""];

    query (p_in_reply_to :Entity(tt:username)) := (@com.twitter.tweet()), from_self == true && in_reply_to == p_in_reply_to
    #_[utterances=["my twitter replies to ${p_in_reply_to}",
                   "my twitter mentions to $p_in_reply_to",
                   "my tweets that mention $p_in_reply_to"]]
    #[id=28017068]
    #[name=""];

    query := @com.twitter.tweet(), from_self == true
    #_[utterances=["my tweets",
                   "my posts on twitter",
                   "my recent tweets",
                   "tweets i made"]]
    #[id=28017071]
    #[name=""];

    action (p_tweet_id :Entity(com.twitter:id)) := @com.twitter.retweet(tweet_id=p_tweet_id)
    #_[utterances=["retweet ${p_tweet_id}",
                   "retweet $p_tweet_id to my followers"]]
    #[id=28017084]
    #[name=""];

    action (p_picture_url :Entity(tt:picture)) := @com.twitter.post_picture(picture_url=p_picture_url, caption=$?)
    #_[utterances=["post ${p_picture_url} on twitter",
                   "upload $p_picture_url to twitter",
                   "make a tweet containing $p_picture_url"]]
    #[id=28017087]
    #[name=""];
}
