dataset @com.xkcd {
    stream = monitor (@com.xkcd.comic())
    #_[utterances=["when a new xkcd is out",
                   "when a new xkcd is posted"]]
    #[id=1648624]
    #[name="MonitorComic"];

    query (p_id :Number) = @com.xkcd.comic(), id==p_id
    #_[utterances=["the xkcd number ${p_id}",
                   "xkcd ${p_id:const}"]]
    #[id=1648627]
    #[name="ComicWithNumber"];
}
