[submodule "platform/android/jxcore"]
	path = platform/android/jxcore
	url = https://github.com/jxcore/jxcore
[submodule "engine/node_modules/thingpedia"]
	path = engine/node_modules/thingpedia
	url = ../thingpedia-api
