*~
node_modules/
coverage/
bundle/
.nyc_output/
.idea/
.vscode/
.DS_Store
*.pyc
__pycache__

lib/genie-compiler/grammar.js

*.tgz

workdir*
dataset.tt
thingpedia.json
entities.json
thingpedia.tt
decanlp/

*.tsv
*.csv
*.bin
!data/**/*.tsv

!test/**/*-results.csv
!test/**/expected-*.csv
!test/**/expected-*.tsv
!test/data/en-US/synthetic.tsv
!test/data/en-US/synthetic-contextual.tsv
!test/data/en-US/synthetic-context-source.tsv
!test/data/en-US/easy-hard-functions.tsv
!test/data/en-US/parameter-datasets.tsv
!test/data/en-US/thingpedia.tt
!test/data/en-US/samples-en-hard.tsv
!test/data/en-US/samples-en-hard-qpis.tsv
!test/data/en-US/samples-en-hard-requoted.tsv
