[submodule "engine/node_modules/thingpedia"]
	path = engine/node_modules/thingpedia
	url = ../thingpedia-api
[submodule "engine/node_modules/ThingTalk"]
	path = node_modules/thingtalk
	url = ../ThingTalk.git
[submodule "node_modules/sabrina"]
	path = node_modules/sabrina
	url = ../Sabrina.git
