*~
node_modules/
coverage/
bundle/
home/
dist/
languages-dist/
jsdoc/
.nyc_output/
.idea/
.vscode/
.DS_Store
*.pyc
__pycache__
*.genie.ts
*.genie.js

lib/sentence-generator/compiler/grammar.js
po/tmp
po/POTFILES
po/genie-toolkit.pot
po/*.mo
po/*.json

*.tgz
*.tt.json
data/builtins/thingengine.builtin/*.tt
lib/engine/devices/builtins/faq.json

workdir*
genienlp/
.embeddings/

env/

# test dirs
genie-??????

*.tsv
*.csv
*.bin
!data/**/*.tsv

!test/**/*-results.csv
!test/**/expected-*.csv
!test/**/expected-*.tsv
!test/data/en-US/synthetic.tsv
!test/data/en-US/synthetic-contextual.tsv
!test/data/en-US/synthetic-context-source.tsv
!test/data/en-US/easy-hard-functions.tsv
!test/data/en-US/parameter-datasets.tsv
!test/data/en-US/thingpedia.tt
!test/data/en-US/samples-en-hard.tsv
!test/data/en-US/samples-en-hard-qpis.tsv
!test/data/en-US/samples-en-hard-requoted.tsv
!test/data/en-US/thingpedia.tt
!test/data/en-US/dataset-map.tsv
!test/data/fa/*
!test/data/thingpedia.tt
!test/thingpedia.tt
