*~
node_modules/
coverage/
.nyc_output/
.idea/

lib/genie-compiler/grammar.js

*.tgz

dataset.tt
thingpedia.json

*.tsv
*.csv
!data/**/*.tsv

!test/**/*-results.csv
!test/**/expected-*.csv
!test/**/expected-*.tsv
!test/synthetic.tsv
!test/easy-hard-functions.tsv
