.embeddings/

raw
datadir
models
domains.tsv
emptydataset.tt

# domain folders
city
country
tv
disease
human
art
song
game
organization
music_band

# intermediate files
bootleg-*.json
paraphraser-in.*
paraphraser-out.*
*.tar.xz

