extends layout

block content
  if onlineAccounts
    h1 Online Accounts
  else
    h1 Configured devices

  if message
    div.alert.alert-success.alert-dismissible.fade.in(role='alert')
      button(type='button', data-dismiss='alert', aria-label="Close").close
        span(aria-hidden='true') ×

      p= message

  for dev in devices
    div.panel.panel-default
      div.panel-heading
        h2.panel-title= dev.name
      div.panel-body
        p= dev.description

        if !onlineAccounts
          if dev.available == 0
            p The device is not available. It might be powered off or disconnected.
          else if dev.available == 1
            p The device is available and working.
          else
            p It was not possible to verify if the device is available.
              | Please check it is powered on and correctly configured.

  p
    if onlineAccounts
      a(href='/devices/create?class=online', role='button').btn.btn-primary Add new account
    else
      a(href='/devices/create?class=physical', role='button').btn.btn-primary Configure new device