extends ../base_app

block styles
  link(rel='stylesheet', href='static/style.css')

block app_content
  p This app is part of the ThingEngine system. It makes sure that
    | the configuration on your ThingEngine devices is up to date as
    | you configure new phones or servers.

  p You should not uninstall or disable this app. If you do so, the
    | system might malfunction.

