extends layout

block page_name
  | About

block content
  h2 Open Thing Platform
  p ThingEngine is the workhorse in the 
    a(href='http://www.thingpedia.org/about') Open Thing Platform
    | , the open source platform for IoT rules that you can execute
    | anywhere you want.

  p The Open Thing Platform is a research project in the Mobisocial research group at
    |  Stanford University, lead by prof. Monica Lam.

  h2 Getting ThingEngine
  p ThingEngine comes in three form:
  ul
    li As a phone app, for Android. You can download it 
      a(href='http://web.stanford.edu/~gcampagn/misc/thingengine.apk') here
      | .
    li As an installable app for a home server. Binaries of ThingEngine Server
      |  for multiple operating systems and architectures are available 
      a(href='http://web.stanford.edu/~gcampagn/misc/') here
      | .
    li The web service you're looking at, which is provided free of charge
      |  to the research community.

  p ThingEngine is free software, released under the GPLv2 or later, to help
    |  build a community of developers and users around it.

