extends layout

block scripts
  if authenticated
    script(src='/javascripts/index.js')

block page_name
  - index = true;
  | ThingEngine

block content
  if authenticated
    div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)
  div.jumbotron.text-center
    if authenticated
      if isRunning
        h1 Welcome back!

        p Connect your 
          a(href='/devices/create?class=physical') devices
          |  or 
          a(href='/devices/create?class=online') web services
          | , or jump straight to the 
          a(href='/apps') list of installed apps
          | .
      else
        h1 Uh, oh!

        h2 Your engine is not running!
        p It might have crashed or might have been killed by the site administrators. 
          a(href='/status') Check out what happened
          | .
    else
      h1 Welcome to ThingEngine Online

      p ThingEngine Online is a free service to manage your Internet of Things,
        |  through a friendly web interface and through Sabrina, your magic
        |  virtual assistant.
      p Here, all your favorite 
        a(href='http://www.thingpedia.org') ThingPedia
        |  apps come together to connect to your social networks and your devices.
        |  It's easy, just 
        a(href='/user/register') open your free account
        |  and start 
        a(href='http://www.thingpedia.org/apps') browsing for apps
        | .

      p
        a.btn.btn-lg.btn-primary(href='/user/register') Register now!
        |  
        a.btn.btn-lg.btn-default(href='/user/login') Sign in

      //p
        small Don't want an account but still want to run ThingPedia apps? 
          a(href='https://web.stanford.edu/~gcampagn/misc/thingengine.apk') Install the phone app instead
          | .

  footer
    p
      small ThingEngine is a research project of the 
        a(href='http://mobisocial.stanford.edu') Mobisocial Computing Laboratory
        |  at Stanford University. 
        a(href='http://www.thingpedia.org/about') Read more
        | .
    p
      small
        |  ThingEngine is free software, distributed under the 
        a(href='https://www.gnu.org/licenses/old-licenses/gpl-2.0.html') GPLv2
        |  license. 
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine/issues') Report a bug
        |  
        a(href='https://github.com/Stanford-IoT-Lab/ThingEngine').label.label-default Fork me on Github!
