extends layout

block styles
    link(href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css", rel="stylesheet")

block scripts
    script(src="/javascripts/install.js")

block content
    h1(style="text-align:center") ThingEngine
    div(class="container")
      div(class="jumbotron" style="background-color:#f0f0f0")
        h3 Do you want to install
        h4 #{name}
        h5 From: #{url}
        br
        p
            a(class="btn btn-lg btn-success" id="install" href="" role="button") Agree to Install

        if downloaded
          h5 Download Successful
          h5 Code:
          p #{code}