ul.nav.navbar-nav
  li.hidden-md.hidden-lg
    a(class="scroller", href="/") Home
  li
    a(class="scroller", href="/apps") Installed Apps
  li
    a(class="scroller", href="/apps/create") Create New App
  li
    a(class="scroller", href="/devices?class=physical") Configured Devices
  li
    a(class="scroller", href="/devices?class=online") Configured Online Accounts

ul.nav.navbar-nav.navbar-right
  li
    if authenticated
      a.navbar-login(href='/user/logout') Log Out
    else
      a.navbar-login(href='/user/login') Log In
  li
    a#navbar-login-button(href='/about') About

