ul.nav.navbar-nav
  li
    a(class="scroller", href="/") Home
  li
    a(class="scroller", href="/apps") Installed Apps
  li
    a(class="scroller", href="/devices?class=physical") Configured Devices
  li
    a(class="scroller", href="/devices?class=online") Configured Online Accounts

ul.nav.navbar-nav.navbar-right
  li
    if authenticated
      a.navbar-login#navbar-login-button(href='/user/logout') Log Out
    else
      a.navbar-login#navbar-login-button(href='/user/login') Log In
