extends layout

block content
  h1 Welcome to ThingEngine, #{username}!
  h2 You're now successfully registered with ThingEngine

  p Your Cloud ID is <samp>#{cloudId}</samp>. Your Auth Token is
    | <samp>#{authToken}</samp>.
  p Make note of these because you'll need them to pair the app
    | on the phone!

