extends layout

block scripts
  script(src='/javascripts/index.js')

block page_name
  | ThingEngine

block content
  div#cloud-id-holder(data-cloud-id=user.cloud_id, data-auth-token=user.auth_token)

  div.jumbotron.text-center
    h1 Welcome to ThingEngine, #{username}!
    h2 You're now successfully registered with ThingEngine

