extends layout

block page_name
  | Status

block content
  p Status of your ThingEngine: 
    if isRunning
      strong Running
    else
      strong Killed

  if isRunning
    form(action='/status/kill', method='post')
      input(type='hidden',name='_csrf',value=csrfToken)
      button(type='submit').btn.btn-danger Kill
  else
    form(action='/status/start', method='post')
      input(type='hidden',name='_csrf',value=csrfToken)
      button(type='submit').btn.btn-danger Start
