extends layout

block page_title
  - index = true;
  | Tutorial

block content
  h1 Tutorial: Write your first ThingEngine App

  p If you got here, you probably already know what ThingEngine is.
    |  If you're still unsure, 
    a(href='/doc/getting-started.md') this page
    |  has a slightly longer introduction to it. The same page
    |  has the same tutorial you're about to begin in a more prosaic
    |  form. You can keep both open side by side, if you want. At any
    |  point you can also stop the tutorial, or pause it and come back
    |  later if you keep the link.

  p So you're ready to write your first ThingEngine App? Cool, let's get
    |  started.

  h3 (Mini)Apps

  p As you have guessed, ThingEngine works with apps. These are not apps
    |  in the traditional sense, you don't install them from an appstore
    |  and you don't need a degree in Computer Science to write them. And
    |  most importantly they will not kill your kittens if you get them
    |  wrong. Instead, they are <em>mini apps</em>, written in few lines
    |  of code, maybe just one.

  p How do mini apps 

  div.jumbotron
    