extends layout

block scripts
  script(src='https://omlet.me/a/js/omlet.js')
  script(src='/javascripts/base64.js')
  script(src='/javascripts/demo_linkedin.js')

block page_name
  | LinkedIn Sharing

block content
  if nofeed
    script LinkedInDemo.start()

    p If you see this message, it means you're not inside an Omlet chat.
    p You must open this app from the Omlet drawer.

    p#debug
  else if done
    p You're all set now, you can go back to your friends!
    p When you return to the chat, your friends will see a link to join
      | the LinkedIn party, and as they accept it and start sending you their business
      | cards you will receive a notification if they work in the same field
      | as you.

    p
      a.btn.btn-primary(onclick='LinkedInDemo.exit()') Return to chat
  else
    p Welcome to the LinkedIn Party!
    p This app allows you to share your LinkedIn data with your friends
      | in the same chat. When you activate your app, you will start sending out
      | your name and current industry. If you one of your friends works in
      | the same field as you, you will receive a notification.
    p= message

    p
      a.btn.btn-primary(href=link) Continue