extends layout

block scripts
  script(src='https://omlet.me/a/js/omlet.js')
  script(src='/javascripts/base64.js')
  script(src='/javascripts/demo_weightcomp.js')

block page_name
  | Weight Competition

block content
  div= result