ul.nav.navbar-nav
  li.hidden-md.hidden-lg
    a(class="scroller", href="/") Home
  li
    a(class="scroller", href="/apps") Installed Apps
  li
    a(class="scroller", href="/apps/create") New App
  li
    a(class="scroller", href="/devices?class=physical") Devices
  li
    a(class="scroller", href="/devices?class=online") Online Accounts
