extends layout

block page_name
  | New App

block content
  form(action="/apps/create", method="post")
    input(type='hidden',name='_csrf',value=csrfToken)
    div.form-group
      label(for="code").control-label Code
      textarea#code(name="code", placeholder="Paste code here").form-control

    div.form-group
      label(for="params").control-label Parameters
      textarea#params(name="params").form-control {}

    p.form-group
      label.control-label(for="tier") Run in: 
      select#tier(name="tier").form-control
        option(value="phone") Phone
        option(value="server") Server
        option(value="cloud") Cloud

    p.from-group
      button(type="submit").btn.btn-success Create
