extends layout

block content
  h1 Installed apps
  for app in apps
    div.installed-app
      h2= app.name
      if app.running
        p This app is running
      else
        if app.enabled
          p This app is enabled but not running
        else
          p This app is disabled

      p
        a(href="/apps/#{app.uniqueId}").btn.btn-primary Show
        | 
        a(href="/apps/delete/#{app.uniqueId}",
          onclick="return confirm('Are you sure?')").btn.btn-danger Delete

  p
    a(href="/apps/create/").btn.btn-primary Create new app