extends layout

block scripts
  script(src='/javascripts/devices-create.js')

block content
  h1 Configure new device

  form(action="/devices/create", method="post")
    input(type='hidden',name='_csrf',value=csrfToken)

    div.form-group
      label(for="device-kind").control-label What kind of device are you trying to configure?
      select#device-kind(name="kind").form-control
        option(value='',selected=true) Select one device...
        for k in kinds
          option(value=k.kind)= k.desc

    div.well#device-placeholder
