doctype html
html
  head
    title= page_title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js")
    block scripts

  body
    header(class="navbar navbar-inverse navbar-fixed-top", role="banner")
      div.navbar-header
        button(class="navbar-toggle collapsed", data-toggle="collapse", data-target=".bs-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand scroller", href="/") ThingEngine
      nav(class="navbar-collapse bs-navbar-collapse collapse", role="navigation")
        ul.nav.navbar-nav
          li
            a(class="scroller", href="/apps") Installed Apps
          li
            a(class="scroller", href="/apps/create") Create New App

    div(style="margin-top: 4em")
      block content
