.embeddings/
schema.jsonld
emptydataset.tt
config.mk

schema.tt
schema.trimmed.tt
manifest.tt
constants.tsv
data.json
entities.json
parameter-datasets
parameter-datasets.tsv

shared-parameter-datasets/
datadir/
models/

