class @org.thingpedia.weather
#_[thingpedia_name="Wetter:"]
#_[thingpedia_description="Wettervorhersagen und Informationen von met.no"]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="service"] {
  import loader from @org.thingpedia.v2();

  import config from @org.thingpedia.config.none();

  monitorable query sunrise(in opt location : Location
                            #_[prompt="Für welchen Ort wollen Sie Sonnenzeitinformationen?"]
                            #_[canonical={
                              default="preposition",
                              base=["Standort:", "Position des", "Ort:"],
                              property=[],
                              preposition=["in #", "bei #", "um #", "für Standort #", "für #"]
                            }]
                            #[default=$location.current_location],
                            in opt date : Date
                            #_[canonical={
                              default="preposition",
                              base=["Datum der"],
                              preposition=["auf #"]
                            }],
                            out sunrise_time : Time
                            #_[canonical="Sonnenaufgangszeit"],
                            out sunset_time : Time
                            #_[canonical="Sonnenuntergangszeit"])
  #_[result=["in der ${location} Die Sonne geht auf ${sunrise_time} und setzt ${sunset_time}", "am am ${date} die Sonne geht auf ${sunrise_time} und setzt an ${sunset_time} in der ${location}", "am am ${date} die Sonne geht auf ${sunrise_time}", "am: ${date} die Sonne untergeht ${sunset_time}"]]
  #_[canonical=["Sonnenaufgang und Sonnenuntergang Zeit", "Sonnenaufgangszeit", "Sonnenuntergangszeit"]]
  #_[confirmation="die Sonnenaufgangs- und Sonnenuntergangszeit für die Lage $location"]
  #[minimal_projection=["sunrise_time", "sunset_time"]]
  #[poll_interval=86400000ms]
  #[doc="Information about sunrise and sunset"];

  monitorable query moon(in opt location : Location
                         #_[prompt="für welchen Ort Sie Mondzeitinfos wünschen"]
                         #_[canonical={
                           default="preposition",
                           base=["Standort:", "Position des", "Ort:"],
                           property=[],
                           preposition=["in #", "bei #", "um #", "für Standort #", "für #"]
                         }]
                         #[default=$location.current_location],
                         in opt date : Date
                         #_[canonical={
                           default="preposition",
                           base=["Datum der"],
                           preposition=["auf #"]
                         }],
                         out phase : Enum(new_moon, waxing_crescent, first_quarter, waxing_gibbous, full_moon, waning_gibbous, third_quarter, waning_crescent)
                         #_[canonical={
                           base=["Phase:", "Mondphase"],
                           value_enum={
                             new_moon=["Neuer_Mond"],
                             waxing_crescent=["Wachsendes Wachstum"],
                             first_quarter=["Erstes Quartal"],
                             waxing_gibbous=["Wachsendes"],
                             full_moon=["Vollmond"],
                             waning_gibbous=["schwindelerregend"],
                             third_quarter=["Drittes Quartal"],
                             waning_crescent=["Abklingzeit"]
                           }
                         }])
  #_[result=["in der ${location} der Mond ist ${phase}", "in der ${location} die Mondphase ist ${phase}", "am am ${date} der Mond ist ${phase} im Jahr ${location}", "Der Mond ist ${phase}"]]
  #_[canonical=["Mondphase", "Phase des Mondes"]]
  #_[confirmation="die Mondphase für $location"]
  #[poll_interval=86400000ms]
  #[doc="Information about moon times and moon phase"]
  #[confirm=false]
  #[minimal_projection=[]];

  monitorable query current(in opt location : Location
                            #_[prompt="Für welchen Ort wollen Sie das aktuelle Wetter?"]
                            #_[canonical={
                              default="preposition",
                              base=["Standort:", "Position des", "Ort:"],
                              property=[],
                              preposition=["in #", "bei #", "um #", "für Standort #", "für #"]
                            }]
                            #[default=$location.current_location],
                            out temperature : Measure(C)
                            #_[canonical="Temperatur und"]
                            #[min_number=-10C]
                            #[max_number=50C],
                            out wind_speed : Measure(mps)
                            #_[canonical="Windgeschwindigkeit"]
                            #[min_number=0kmph]
                            #[max_number=150kmph],
                            out humidity : Number
                            #_[canonical="Feuchtigkeitsgehalt"]
                            #[min_number=0]
                            #[max_number=100],
                            out cloudiness : Number
                            #_[canonical="Trübung"]
                            #[min_number=0]
                            #[max_number=100],
                            out fog : Number
                            #_[canonical="Nebel,"]
                            #[min_number=0]
                            #[max_number=100],
                            out status : Enum(raining, cloudy, sunny, snowy, sleety, drizzling, windy, foggy)
                            #_[canonical={
                              base="Status:",
                              value_enum={
                                raining=["regnet"],
                                cloudy=["bewölkte"],
                                sunny=["sonniger"],
                                snowy=["Schneebedeckt"],
                                sleety=["schlafmüde"],
                                drizzling=["Nieselregen"],
                                windy=["Windig"],
                                foggy=["Nebelig"]
                              }
                            }],
                            out icon : Entity(tt:picture)
                            #_[canonical="Symbol:"])
  #_[result=["Es ist ${status} heute in ${location} und die Temperatur ist ${temperature}", "das aktuelle Wetter in ${location} wird. ${status} . die Temperatur ist ${temperature} und die Feuchtigkeit ist ${humidity} % %", "das aktuelle Wetter in ${location} wird. ${status} . die Temperatur ist ${temperature}", "das aktuelle Wetter in ${location} wird. ${status} . die Feuchtigkeit ist ${humidity} % %", "das aktuelle Wetter in ${location} wird. ${status}", "das Wetter in ${location} wird. ${status}"]]
  #_[canonical=["aktuelles Wetter", "Wetterlage", "Wetter heute", "Wetter jetzt", "Wetter draußen"]]
  #[minimal_projection=["status"]]
  #[poll_interval=3600000ms]
  #[doc="Information about current weather"]
  #[confirm=false];

  monitorable query forecast(in opt location : Location
                             #_[prompt="welcher Ort wollen Sie die Wettervorhersage für"]
                             #_[canonical={
                               default="preposition",
                               base=["Standort:", "Position des", "Ort:"],
                               property=[],
                               preposition=["in #", "um #", "für Standort #", "für #"]
                             }]
                             #[default=$location.current_location],
                             in opt date : Date
                             #_[prompt="für welches Datum oder zu welcher Uhrzeit Sie die Prognose für"]
                             #_[canonical={
                               default="preposition",
                               base=["Zeit n", "Datum der"],
                               property=[],
                               preposition=["bei #", "in #", "für #"]
                             }]
                             #[default=$end_of(day)],
                             out temperature : Measure(C)
                             #_[canonical="Temperatur und"]
                             #[min_number=-10C]
                             #[max_number=50C],
                             out wind_speed : Measure(mps)
                             #_[canonical="Windgeschwindigkeit"]
                             #[min_number=0kmph]
                             #[max_number=150kmph],
                             out humidity : Number
                             #_[canonical="Feuchtigkeitsgehalt"]
                             #[min_number=0]
                             #[max_number=100],
                             out cloudiness : Number
                             #_[canonical="Trübung"]
                             #[min_number=0]
                             #[max_number=100],
                             out fog : Number
                             #_[canonical="Nebel,"]
                             #[min_number=0]
                             #[max_number=100],
                             out status : Enum(raining, cloudy, sunny, snowy, sleety, drizzling, windy, foggy)
                             #_[canonical={
                               base="Status:",
                               value_enum={
                                 raining=["regnet"],
                                 cloudy=["bewölkte"],
                                 sunny=["sonniger"],
                                 snowy=["Schneebedeckt"],
                                 sleety=["schlafmüde"],
                                 drizzling=["Nieselregen"],
                                 windy=["Windig"],
                                 foggy=["Nebelig"]
                               }
                             }],
                             out icon : Entity(tt:picture)
                             #_[canonical="Symbol:"])
  #_[result=["wird es ${status} am am ${date} in der ${location} und die Temperatur wird ${temperature}", "am am ${date} das Wetter in ${location} wird beglaubigt ${status} . die Temperatur wird ${temperature} und die Feuchtigkeit wird ${humidity} % %", "am am ${date} das Wetter in ${location} wird beglaubigt ${status} . die Temperatur wird ${temperature}", "am am ${date} das Wetter in ${location} wird geglüht haben ${status} . die Feuchtigkeit wird ${humidity} % %", "am am ${date} das Wetter in ${location} wird beglaubigt ${status}", "das Wetter in ${location} wird beglaubigt ${status} am am ${date}"]]
  #_[on_error={
    no_past_forecast=["Ich kann Wettervorhersagen in der Vergangenheit nicht abrufen"],
    not_available=["die Prognose für ${date} ist noch nicht verfügbar"]
  }]
  #_[canonical=["Wettervorhersage", "prognostiziertes Wetter außerhalb", "zukünftiges Wetter"]]
  #[minimal_projection=["status"]]
  #[poll_interval=3600000ms]
  #[doc="Information about future weather"]
  #[confirm=false];
}