dataset @org.thingpedia.builtin.thingengine.phone language "en" {
    stream  := monitor (@org.thingpedia.builtin.thingengine.phone.get_gps())
    #_[utterances=["when my location changes","when i move"]]
    #_[preprocessed=["when my location changes","when i move"]]
    #[id=1647495] #[click_count=16];
    stream (p_location :Location)  := edge (monitor (@org.thingpedia.builtin.thingengine.phone.get_gps())) on location == p_location
    #_[utterances=["when my location changes to $p_location","when i reach $p_location"]]
    #_[preprocessed=["when my location changes to ${p_location}","when i reach ${p_location}"]]
    #[id=1647497] #[click_count=2];
    stream  := monitor (@org.thingpedia.builtin.thingengine.phone.sms())
    #_[utterances=["when i receive a sms"]]
    #_[preprocessed=["when i receive a sms"]]
    #[id=1647498] #[click_count=2];
    stream (p_sender :Entity(tt:phone_number))  := monitor ((@org.thingpedia.builtin.thingengine.phone.sms()), sender == p_sender)
    #_[utterances=["when i receive a sms from $p_sender "]]
    #_[preprocessed=["when i receive a sms from ${p_sender}"]]
    #[id=1647499] #[click_count=1];
    query  := @org.thingpedia.builtin.thingengine.phone.get_gps()
    #_[utterances=["my current location"]]
    #_[preprocessed=["my current location"]]
    #[id=1647500] #[click_count=37];
    action (p_to :Entity(tt:phone_number), p_message :String)  := @org.thingpedia.builtin.thingengine.phone.send_sms(to=p_to, message=p_message)
    #_[utterances=["send an sms to $p_to saying $p_message","send an sms message to $p_to saying $p_message","send a text to $p_to saying $p_message","text $p_to saying $p_message","send a text to $p_to containing $p_message","send a message to $p_to containing $p_message"]]
    #_[preprocessed=["send an sms to ${p_to} saying ${p_message}","send an sms message to ${p_to} saying ${p_message}","send a text to ${p_to} saying ${p_message}","text ${p_to} saying ${p_message}","send a text to ${p_to} containing ${p_message}","send a message to ${p_to} containing ${p_message}"]]
    #[id=1647501] #[click_count=1];
    action (p_mode :Enum(normal,vibrate,silent))  := @org.thingpedia.builtin.thingengine.phone.set_ringer(mode=p_mode)
    #_[utterances=["set my phone to $p_mode"]]
    #_[preprocessed=["set my phone to ${p_mode}"]]
    #[id=1647504] #[click_count=1];
    action (p_number :Entity(tt:phone_number))  := @org.thingpedia.builtin.thingengine.phone.call(number=p_number)
    #_[utterances=["call $p_number","dial $p_number","phone $p_number"]]
    #_[preprocessed=["call ${p_number}","dial ${p_number}","phone ${p_number}"]]
    #[id=1647505] #[click_count=1];
    action  := @org.thingpedia.builtin.thingengine.phone.call_emergency()
    #_[utterances=["call 911","call ambulance","call fire department","call police"]]
    #_[preprocessed=["call 911","call ambulance","call fire department","call police"]]
    #[id=1647507] #[click_count=1];
    action (p_to :Entity(tt:phone_number))  := @org.thingpedia.builtin.thingengine.phone.send_sms(to=p_to)
    #_[utterances=["send a text to $p_to","send a message to $p_to"]]
    #_[preprocessed=["send a text to ${p_to}","send a message to ${p_to}"]]
    #[id=1647512] #[click_count=1];
    stream (p_location :Location)  := edge (monitor (@org.thingpedia.builtin.thingengine.phone.get_gps())) on !(location == p_location)
    #_[utterances=["when i move away from $p_location","when i leave $p_location"]]
    #_[preprocessed=["when i move away from ${p_location}","when i leave ${p_location}"]]
    #[id=1647515] #[click_count=3];
    query  := @org.thingpedia.builtin.thingengine.phone.sms()
    #_[utterances=["my sms inbox","sms in my phone","texts i received"]]
    #_[preprocessed=["my sms inbox","sms in my phone","texts i received"]]
    #[id=1647517] #[click_count=1];
    query (p_sender :Entity(tt:phone_number))  := (@org.thingpedia.builtin.thingengine.phone.sms()), sender == p_sender
    #_[utterances=["texts from $p_sender"]]
    #_[preprocessed=["texts from ${p_sender}"]]
    #[id=1647520] #[click_count=1];
    query  := (@org.thingpedia.builtin.thingengine.phone.sms()), date >= start_of(day)
    #_[utterances=["texts i received today"]]
    #_[preprocessed=["texts i received today"]]
    #[id=1647521] #[click_count=2];
    query  := (@org.thingpedia.builtin.thingengine.phone.sms()), date >= start_of(h)
    #_[utterances=["texts i received in the last hour"]]
    #_[preprocessed=["texts i received in the last hour"]]
    #[id=1647522] #[click_count=1];
    action  := @org.thingpedia.builtin.thingengine.phone.set_ringer(mode=enum(vibrate))
    #_[utterances=["turn on vibration in my phone","make my phone vibrate for calls"]]
    #_[preprocessed=["turn on vibration in my phone","make my phone vibrate for calls"]]
    #[id=1647523] #[click_count=1];
    action  := @org.thingpedia.builtin.thingengine.phone.set_ringer(mode=enum(silent))
    #_[utterances=["turn off ringer and vibration in my phone","make my phone silent","mute my phone"]]
    #_[preprocessed=["turn off ringer and vibration in my phone","make my phone silent","mute my phone"]]
    #[id=1647524] #[click_count=1];
    action  := @org.thingpedia.builtin.thingengine.phone.call()
    #_[utterances=["place a phone call","call somebody","call my friend"]]
    #_[preprocessed=["place a phone call","call somebody","call my friend"]]
    #[id=1647527] #[click_count=1];
    action (p_number :Entity(tt:contact_name))  := @org.thingpedia.builtin.thingengine.phone.call(number=p_number)
    #_[utterances=["call ${p_number}","make a call to ${p_number}"]]
    #_[preprocessed=["call ${p_number}","make a call to ${p_number}"]]
    #[id=1647531] #[click_count=1];
}
