doctype html
html
  head
    title= title
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts

  body
    block content
